	<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item {% if active == 'home' %}active{% endif %}" href="{{ path('BloggerBlogBundle_homepage') }}">Blog list</a>
          <a class="blog-nav-item {% if active == 'about' %}active{% endif %}" href="{{ path('BloggerBlogBundle_about') }}">About</a>
        </nav>
      </div>
    </div>