{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %} About peter blog {% endblock %}

{% block body %}
	<header>
		<h1>About Peter blog</h1>
	</header>
	<article>
		<p>Lorem ipsum dolor sit amet sapien magna ornare dapibus. 
		Aenean gravida varius eu, posuere elementum vel, dignissim id, libero. 
		Class aptent taciti sociosqu ad litora torquent per inceptos hymenaeos. 
		Phasellus ultrices, velit ornare quam. Phasellus nec tortor. Phasellus id lorem. 
		Phasellus ornare velit eros sed felis. Mauris sit amet augue. 
		Aenean feugiat sagittis ac, rhoncus ante pellentesque accumsan. 
		Nullam ligula tortor at tortor. Etiam fringilla gravida. 
		Duis condimentum eget, pede. Nullam euismod, massa non orci. 
		Nunc mollis.</p>
	</article>
{% endblock %}